@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #191919;
  margin: 0;
  overflow: overlay;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f2945d6b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
}
